@media only screen and (max-width: 1030px) {
    .about-us-div{
        width: 80%;
    }
    .card-positions{
        width:30%;
    }
    .card-positions2{
        width: 100%;
    }
    .banner-title {
        margin-left: 16%;
    }
}

@media only screen and (max-width: 780px){
    .navbar-light .navbar-toggler {
         margin-left: 84%;
    }
    .banner-title {
        margin-left: 5%;
    }
    .card-positions{
        width: 70%;
    }
    .card-positions2{
        width: 100%;
    }
}

@media only screen and (max-width: 450px){
    .card-positions{
        width:100%;
    }
    .card-positions2{
        width: 100%;
    }
    .banner-title {
        padding-top: 3rem;
        margin-left: 2%;
    }
    .bg-img{
        height: 15rem;
        margin-top: 5rem;
    }
    .navbar-light .navbar-toggler {
        margin-left: 0;
   }
}

@media only screen and (max-width: 450px){
    .bg-img {
        height: 13rem;
        margin-top: 7rem;
    }
    .nav-style{
        float: left;
    }
    .padding{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .carousel-custom{
        height: 16rem;
    }
    .card-positions2{
        width: 98%;
    }
}


